.blog-section{
  margin-bottom: 70px;
  .blog-section__right-side{
    .blog-section__right-side__brief{
      position: relative;
      .blog-section__right-side__brief__header{
        text-align: center;
        margin-bottom: 25px;
        color: $colorPurple;
      }
      .blog-section__right-side__brief__head{
        color: $colorBlue;
        font-size: calc(41px + ((47 - 41 ) * ((100vw - 1366px) / (1920 - 1366 ))));
        margin-bottom: 25px;
      }
      .blog-section__right-side__brief__paragrapgh{
        font-size: calc(16px + ((22 - 16 ) * ((100vw - 1366px) / (1920 - 1366 ))));
        margin-bottom: 25px;
      }
    }
    .blog-section__right-side__first-img{
      margin-bottom: 25px;
    }
    
  
  }
  .blog-section__right-side__second-img{
    position: relative;
    margin-bottom: 45px;
    
    ;
    &:hover .blog-section__right-side__second-img__quote{
      opacity: 1;
    }
    .blog-section__right-side__second-img__quote{
      position: absolute;
      bottom: 0;
      top: 0;
      width: 100%;
      padding: 0 40px;
      color: $colorWhite;
      transition: 2s;
      background-color: rgb(0 0 0 / 76%);
      background-blend-mode: color;
      opacity: 0;
      .blog-section__right-side__second-img__quote__first-line{
        text-align: $start;
        font-size: calc(40px + ((46 - 40 ) * ((100vw - 1366px) / (1920 - 1366))));
        font-weight: bold;
        margin-bottom: 0;
      }
      .blog-section__right-side__second-img__quote__second-line,
      .blog-section__right-side__second-img__quote__third-line{
        text-align: center;
        font-size:calc(24px + ((32 - 24 ) * ((100vw - 1366px) / (1920 - 1366)))); 
        font-weight: bold;
      }
      .blog-section__right-side__second-img__quote__fourth-line{
        text-align: $end;
        font-size: calc(40px + ((46 - 40 ) * ((100vw - 1366px) / (1920 - 1366))));
        font-weight: bold;
        margin-bottom: 0;
      }
    }
  
  }
  .read-more-btn{
    @extend .my-button-2;
    width: 100%;
    text-align: center;
    padding: 10px;
    font-weight: bold;
  }
  .blog-section__left-side{
    .blog-section__left-side__relative-div{
      position: relative;
      margin-bottom: 25px;
      overflow: hidden;
      .blog-section__left-side__fixed-div{
        position: absolute;
        bottom: 0;
        top: auto;
        height: fit-content;
        background: #000000b0;
        color: white;
        width: 100%;
        padding: 30px;
        transform: translateY(100%);
        transition: transform  2s;
        
        .blog-section__left-side__fixed-div__header{
          font-size: calc(32px + ((38 - 32 ) * ((100vw - 1366px) / (1920 - 1366))));
          font-weight: bold;
        }
      }
      &:hover .blog-section__left-side__fixed-div{
        transform: translateY(0);
        
      }
    }
  }
  .blog-section__left-side__video-wrapper{
    width: 100%;
    height: 100%;
    position: relative;
    video{
      width: 100%;
      height: 100%;
    }
    .blog-section__left-side__video-wrapper__play-button{
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      height: 100%;
      width: 100%;
      cursor: pointer;
      // z-index: -1;
      display: flex;
      align-items: center;
      justify-content: center;
      // background-color: black;
      
    }
    
  }
}
@media only screen and (min-width:1200px) {
  .blog-section{
    .col--edit--postion{position: relative;}
    .blog-section__right-side{
      .blog-section__right-side__first-img{
        position: absolute;
        bottom: 0;
        width: 96%;
        // margin-bottom: 25px;

      }
    } 
  }
}
@media only screen and (max-width:768px) {
  .blog-section{
    .blog-section__right-side{
      .blog-section__right-side__brief{
        .blog-section__right-side__brief__paragrapgh{
          font-size: calc(14px + ((20 - 16 ) * ((100vw - 320px) / (1366 - 320 ))));
        }
      }
    }
    .blog-section__left-side{
      margin-top: 40px;
    }
  }

}